.userCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 350px;
    background-color: rgb(235, 235, 235);
    padding: 30px;
    border-radius: 10px;
    margin: 2rem 0;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    height: fit-content;
    padding: 2rem 4rem;
}